body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.farhan-color{
    color: coral;
}
section{
    display: flex;
}
.div1{
    width: 50%;
    padding: 5%;
}
.div1 img{
    width: 80%;

}
#link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(top-banner.png);
        background-repeat: no-repeat
}
.div2{
    width: 50%;
    padding: 5%;
}
.div2 img{
    width: 100%;
}
#link-button2{
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
}
.dream-bg{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}